.dropbtn {
    background-color: transparent;
    color: $primary-color;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  /* Styl pro ikonku */
  .dropbtn-img {
    width: 40px;
    height: 40px;
  }
  
  /* Styl pro dropdown obsah */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
  }
  
  /* Styl pro odkazy uvnitř dropdown obsahu */
  .dropdown-content a {
    color: $primary-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Styl pro odkazy po najetí myši */
  .dropdown-content a:hover {background-color: transparent;}
  
  /* Zobrazení dropdown obsahu */
  .show {display:block;}